.underlinebig{
    width: 1920px;
    height: 3px;
    background-color: rgb(153, 153, 153);
    margin-top: 55px;
    margin-left: -600px;
}

.obvd{
    width: 220px;
    height: 50px;
    background-color: rgb(251, 223, 223);
    margin-top: 25px;
    margin-left: 25px;
}

@media screen and (max-width:550px){
    .textdis{
        display: none;
    }
    .obvd{
        width: 70px;
        margin-left: 20px;
    }
    .menu{
        margin-right: -800px;
    }
    .mail1{
        margin-right: -750px;
    }
    .contlocation{
        margin-left: -355px;
        margin-top: -20px;
    }
    .contheader{
        margin-left: -130px;
        margin-top: -10px;
    }
    
    
}

.mail1{
    scale: 0.7;
    margin-left: -210px;
}

.mail2{
    scale: 0.7;
    margin-left: 220px;
    margin-top: -20px;
}
.menu{
    scale: 0.8;
    margin-left: -130px;
}

