.table {
    background-color: rgb(169, 28, 28) ;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    border-collapse: collapse;
}

.table th, .table td {
    text-align: center;
    padding: 10px;
}

#abobrec {
    background-color: rgb(255, 72, 93) ;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
}