.bch {
    background-color: rgb(255, 255, 255);
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 110px;
    padding-right: 70px;
    margin-top: 5px;
    margin-bottom: 13px;
    transition: all 0.3s;
}

.bch:hover {
    background-color: rgb(198, 198, 198);
}

.mch {
    transition: all 1s;
    scale: 1;
}

.mch:hover {
    opacity: 0.6;
    scale: 1.2;
}



.bch2 {
    background-color: rgb(255, 255, 255);
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 110px;
    padding-right: 70px;
    margin-top: 5px;
    margin-bottom: 13px;
    transition: all 0.3s;
}

.bch2:hover {
    background-color: rgb(198, 198, 198);
}

.mch2 {
    transition: all 1s;
    scale: 1;
}

.mch2:hover {
    opacity: 0.6;
    scale: 1.2;
}

table{
    border-collapse: collapse;
}

td{
    padding: 0px;
}