.bch {
    background-color: rgb(255, 255, 255);
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 110px;
    padding-right: 70px;
    margin-top: 5px;
    margin-bottom: 13px;
    transition: all 0.3s;
}



.mch {
    transition: all 1s;
    scale: 1;
}





.bch2 {
    background-color: rgb(255, 255, 255);
    padding-top: 93px;
    padding-bottom: 93px;
    padding-left: 110px;
    padding-right: 70px;
    margin-top: 5px;
    margin-bottom: 13px;
    transition: all 0.3s;
}

.mch2 {
    transition: all 1s;
    scale: 1;
}

table{
    border-collapse: collapse;
}

td{
    padding: 0px;
}

.hvrL:hover .mch {
    opacity: 0.6;
    scale: 1.2;
}

.hvrL:hover .bch {
    background-color: rgb(198, 198, 198);
}

.hvrR:hover .mch2 {
    opacity: 0.6;
    scale: 1.2;
}

.hvrR:hover .bch2 {
    background-color: rgb(198, 198, 198);
}