.hedn{
    height: 50px;
    width: 100%;
    background-color: brown;
    display: flex;
    position: sticky;
}

.hednbg{
    display: flex;
    position: sticky;
}

.text{
    width: 400px;
    height: 600px;
    margin-top: 600px;
    background-color: blue;
}