.hedn{
    height: 62px;
    width: 100%;
    background-color: brown;
    position: fixed;
    margin-top: -10px;
}

.hedtxt{
    margin-top: -7px;
    color: white;
}

.hedtxt2{
    color: white;
    background-color: rgb(114, 29, 29);
    display: inline-flex;
    position: absolute;
    margin-top: -57px;
}

.name{
    margin-top: 60px;
    position: absolute;
    margin-left: 100px;
}

.text{
    margin-top: 170px;
    position: absolute;
    margin-left: 100px;
}

.main1{
    z-index: 2;
}

.hedn{
    z-index: 1;
}

.portret{
    width: 300px;
    height: 600px;
    background-color: rgb(237, 237, 237);
    margin-left: 850px;
    margin-top: 75px;
    position: absolute;
}

.portret>img{
    scale: 0.85;
    margin-left: -15px;
    margin-top: -20px;
}

.portret>h3{
    margin-left: 12px;
}

.btmm>h2{
    margin-top: 1050px;
    margin-left: 100px;
    position: absolute;
}

.obvd1{
    width: 1050px;
    height: 300px;
    border: 2px solid rgb(61, 61, 61);;
    margin-top: 1100px;
    position: absolute;
    margin-left: 100px;
}