.hedn{
    height: 50px;
    width: 100%;
    background-color: brown;
    position: fixed;
    margin-top: -10px;
}

.hedtxt{
    margin-top: -7px;
    color: white;
}

.hedtxt2{
    color: white;
    background-color: rgb(114, 29, 29);
    display: inline-flex;
}