.butn1{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
}

.butn1>h1{
    color: white;
    margin-left: 65px;
    margin-top: 11px;
}

.butn2{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: -64px;
}

.butn2>h1{
    color: white;
    margin-left: 40px;
    margin-top: 11px;
}

.butn3{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 440px;
    margin-top: -64px;
}

.butn3>h1{
    color: white;
    margin-left: 65px;
    margin-top: 11px;
}

.butn4{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 660px;
    margin-top: -64px;
}

.butn4>h1{
    color: white;
    margin-left: 50px;
    margin-top: 11px;
}


.podmenu:hover .vidvmenubg{
    margin-top: -1px;
    transition: all 0.5s;
}

.vidvmenu{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenu3{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu3>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenu2{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu2>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenubg{
    margin-top: -293px;
}

.butn1:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.butn2:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.butn3:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.butn4:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu2:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu3:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}









.vidvmenu4{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu4>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenu5{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu5>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenu6{
    width: 216px;
    height: 60px;
    background-color: rgb(54, 199, 136);
    border: 2px solid rgb(38, 158, 106);
    margin-left: 220px;
    margin-top: 0px;
}

.vidvmenu6>h1{
    color: white;
    margin-left: 75px;
    margin-top: 11px;
}

.vidvmenubg2{
    margin-left: 220px;
    margin-top: -628px;
    position: absolute;
}

.vidvmenu4:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu5:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu6:hover{
    background-color: rgb(38, 158, 106);
    transition: all 0.1s;
}

.vidvmenu2:hover .vidvmenubg2{
    margin-top: -71px;
    margin-left: -2px;
}

.text{
    margin-top: 100px;
    position: absolute;
}