#text1{
    height: 40px;
    width: 550px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-left: 55px;
    position: absolute;
}

.img1{
    position: absolute;
}

#text2{
    height: 40px;
    width: 550px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-left: 55px;
    margin-top: 80px;
    position: absolute;
}

.img2{
    position: absolute;
    margin-top: 80px;
}

#text3{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-left: 55px;
    margin-top: 160px;
    position: absolute;
}

#text4{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-left: 355px;
    margin-top: 160px;
    position: absolute;
}

.img3{
    position: absolute;
    margin-top: 160px;
}



.pos2{
    margin-left: 650px;
    margin-top: -59px;
}

#text5{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    position: absolute;
}

#text6{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-left: 280px;
    position: absolute;
}

#text7{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-top: 80px;
    position: absolute;
}

#text8{
    height: 40px;
    width: 250px;
    border: 0px;
    border-bottom: 2px solid rgb(129, 129, 129);
    margin-top: 80px;
    margin-left: 280px;
    position: absolute;
}



#chck1{
    position: absolute;
    margin-top: 260px;
    margin-left: 16px;
    scale: 1.5;
}

.chcknm1{
    position: absolute;
    margin-top: 253px;
    margin-left: 50px;
}

#chck2{
    position: absolute;
    margin-top: 310px;
    margin-left: 16px;
    scale: 1.5;
}

.chcknm2{
    position: absolute;
    margin-top: 303px;
    margin-left: 50px;
}



.btn1{
    position: absolute;
    margin-top: 370px;
    margin-left: 980px;
    height: 45px;
    width: 200px;
    color: white;
    background-color: rgb(2, 167, 148);
    border: 0px;
    border-radius: 5px;
}



@media screen and (max-width:900px) and (min-width:600px){
    .pos2{
        margin-top: 250px;
        margin-left: 10px;
    }

    .pos3{
        margin-top: -100px;
    }

    .pos4{
        margin-top: -100px;
        margin-left: -630px;
    }

    #text1{
        width: 490px;
    }

    #text2{
        width: 490px;
    }

    #text3{
        width: 215px;
    }

    #text4{
        width: 215px;
        margin-left: 330px;
    }
}

@media screen and (max-width:600px){
    #text4{
        margin-top: 220px;
        margin-left: 55px;
        width: 550px;
    }
    #text3{
        width: 550px;
    }

    .pos2{
        display: none;
    }

    .pos3{
        display: none;
    }

    .pos4{
        display: none;
    }
}