.lbl1{
    position: absolute;
    scale: 1.5;
    margin-left: 10px;
}

#text1{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 40px;
    height: 25px;
}

#text2{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 300px;
    height: 28px;
    border: 1px solid rgb(17, 207, 17);
    border-radius: 3px;
}

#text3{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 555px;
    height: 28px;
    border: 1px solid rgb(207, 17, 17);
    border-radius: 3px;
}



.lbl2{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 110px;
}

#chk1{
    margin-top: 150px;
    scale: 1.5;
    accent-color: rgb(0, 157, 0);
}

.lblpd1{
    position: absolute;
    margin-top: 147px;
    margin-left: 35px;
    scale: 1.3;
}



#chk2{
    margin-top: 150px;
    scale: 1.5;
    margin-left: 120px;
    accent-color: rgb(207, 17, 17);
}

.lblpd2{
    position: absolute;
    margin-top: 147px;
    margin-left: 155px;
    scale: 1.3;
}



.lbl3{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 40px;
}

.lbl4{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 77px;
}

.lbl5{
    position: absolute;
    scale: 1.5;
    margin-left: 130px;
    margin-top: 78px;
}

.lbl6{
    position: absolute;
    scale: 1.5;
    margin-left: 235px;
    margin-top: 78px;
}

#rad1{
    position: absolute;
    scale: 1.5;
    margin-top: 80px;
    margin-left: 100px;
    accent-color: rgb(0, 157, 0);
}

#rad2{
    position: absolute;
    scale: 1.5;
    margin-top: 80px;
    margin-left: 200px;
    accent-color: rgb(0, 157, 0);
}



.allbt1{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border-collapse: collapse;
    border: 0px solid;
    margin-top: 140px;
}

.allbt1>h1{
    color: white;
    margin-top: 15px;
}

.allbt1:active>h1{
    color: rgb(0, 253, 0);
    transition: all 0.1s;
}


.allbt2{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border-collapse: collapse;
    border: 0px solid;
    margin-top: 140px;
}

.allbt2>h1{
    color: white;
    margin-top: 15px;
}

.allbt2:hover>h1{
    color: rgb(0, 157, 0);
    transition: all 0.1s;
}



.allbt3{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border-collapse: collapse;
    border: 0px solid;
    margin-top: 140px;
}

.allbt3>h1{
    color: white;
    margin-top: 15px;
}



.allbt4{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border-collapse: collapse;
    border: 0px solid;
    margin-top: 140px;
}

.allbt4>h1{
    color: white;
    margin-top: 15px;
}

.allbt4:hover>h1{
    color: rgb(157, 0, 0);
    transition: all 0.1s;
}



.allbt5{
    height: 60px;
    width: 170px;
    border-radius: 5px;
    border-collapse: collapse;
    border: 0px solid;
    margin-top: 140px;
}

.allbt5>h1{
    color: white;
    margin-top: 15px;
}



.allbt6{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 0px;
    margin-top: 140px;
    margin-left: 10px;
    position: absolute;
}

.allbt6>h1{
    scale: 1.5;
    color: white;
    margin-top: 15px;
}



.allbt7{
    border-radius: 100%;
    width: 60px;
    height: 60px;
    border: 0px;
    margin-top: 140px;
    margin-left: 80px;
    position: absolute;
}

.allbt7>h1{
    scale: 1.5;
    color: white;
    margin-top: 11px;
}

.allbt6:active>h1{
    color: greenyellow;
    transition: all 0.2s;
}

.allbt7:active>h1{
    color: tomato;
    transition: all 0.2s;
}

.lbl7{
    margin-top: 110px;
    margin-left: 15px;
    position: absolute;
    scale: 1.5;
}

.lbl8{
    margin-top: 30px;
    margin-left: 15px;
    position: absolute;
    scale: 1.5;
}

#txtar{
    position: absolute;
    margin-top: 90px;
    margin-left: 130px;
    border-radius: 5px;
    scale: 1.5;
}

body{
    background-color: rgb(239, 239, 239);
}