.lbl1{
    position: absolute;
    scale: 1.5;
    margin-left: 10px;
}

#text1{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 40px;
    height: 25px;
}

#text2{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 300px;
    height: 28px;
    border: 1px solid rgb(17, 207, 17);
    border-radius: 3px;
}

#text3{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 555px;
    height: 28px;
    border: 1px solid rgb(207, 17, 17);
    border-radius: 3px;
}



.lbl2{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 110px;
}

#chk1{
    margin-top: 150px;
    scale: 1.5;
}

.lblpd1{
    position: absolute;
    margin-top: 147px;
    margin-left: 35px;
    scale: 1.3;
}



#chk2{
    margin-top: 150px;
    scale: 1.5;
    margin-left: 120px;
}

.lblpd2{
    position: absolute;
    margin-top: 147px;
    margin-left: 155px;
    scale: 1.3;
}



.lbl3{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 40px;
}

.lbl4{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 77px;
}

.lbl5{
    position: absolute;
    scale: 1.5;
    margin-left: 130px;
    margin-top: 78px;
}

.lbl6{
    position: absolute;
    scale: 1.5;
    margin-left: 235px;
    margin-top: 78px;
}

#rad1{
    position: absolute;
    scale: 1.5;
    margin-top: 80px;
    margin-left: 100px;
    accent-color: rgb(17, 207, 17);
}

#rad2{
    position: absolute;
    scale: 1.5;
    margin-top: 80px;
    margin-left: 200px;
    accent-color: rgb(17, 207, 17);
}