.lbl1{
    position: absolute;
    scale: 1.5;
    margin-left: 10px;
}

#text1{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 40px;
    height: 25px;
}

#text2{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 300px;
    height: 28px;
    border: 1px solid rgb(17, 207, 17);
    border-radius: 3px;
}

#text3{
    position: absolute;
    scale: 1.5;
    margin-top: 40px;
    margin-left: 555px;
    height: 28px;
    border: 1px solid rgb(207, 17, 17);
    border-radius: 3px;
}



.lbl2{
    position: absolute;
    scale: 1.5;
    margin-left: 20px;
    margin-top: 120px;
}

#chk1{
    margin-top: 150px;
    scale: 1.5;
}

.lblpd1{
    position: absolute;
    margin-top: 147px;
    margin-left: 35px;
    scale: 1.3;
}