.quad{
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: brown;
    margin-top: 170px;
    margin-left: 400px;
    transition: all 1s linear;
    border: 5px solid rgb(112, 29, 29);
    transform-origin: left;
}

.quad2{
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: brown;
    margin-top: 170px;
    margin-left: 650px;
    transition: all 1s linear;
    border: 5px solid rgb(112, 29, 29);
    transform-origin: right;
}

.abbrt{
    display: flex;
    position: relative;
    
    perspective: 2000px;
}

.abbrt:hover .quad {
    transform: rotateY(50deg);
}

.abbrt:hover .quad2 {
    transform: rotateY(-50deg);
}