.list {
    background-color: rgb(198, 99, 118) ;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
    border-collapse: collapse;
    margin-top: -15px;
    
}

.reds {
    background-color: rgb(158, 53, 74) ;
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    border-collapse: collapse;
    padding-left: 15px;
    padding-right: 15px;
}

#bck {
    background-color: rgb(237, 158, 174);
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}

.prs {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.table {
border-collapse: collapse;
}

.table th, .table td{
    text-align: center;
    padding: 5px;
}

.table tr{
    background-color: rgb(165, 195, 225);
    color: black;
}

.table tr :nth-last-of-type(even) {
    background: #6581b1;
}