.calc{
    animation: calcul 2s;
    animation-delay: 5s;
    margin-top: 550px;
    transform: rotate(-25deg);
    scale: 0.7;
    margin-left: -100px;
}

@keyframes calcul{
    0%{
        margin-top: 550px;
    }
    100%{
        margin-top: 0px;
    }
}