.under1{
    height: 40px;
    width: 360px;
    background-color: rgb(42, 42, 108);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -285px;
    margin-left: 420px;
}

.under2{
    height: 80px;
    width: 360px;
    background-color: rgb(42, 42, 108);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: -149px;
    margin-left: 420px;
}

.imgcont1{
    margin-left: 400px;
    margin-top: -500px;
}

.imgcont2{
    margin-left: 400px;
    margin-top: -40px;
}

.texttop2{
    margin-top: -380px;
}

.texttop3{
    margin-top: 40px;
}

@media screen and (max-width:800px) and (min-width:600px){
    .texttop2{
        margin-top: 50px;
    }
    .imgcont2{
        margin-top: -335px;
        margin-left: -410px;
    }
    .imgcont1{
        margin-left: -30px;
        margin-top: -10px;
    }
    .imgbigcont{
        margin-top: -250px;
    }
}