body{
background-color: rgb(28, 78, 58);
}

.articls{
    color: rgb(97, 97, 97);
}

.oglav{
    color: white;
}

.mn2{
    margin-top: 20px;
    margin-left: -70px;
}

.contain1{
    display: flex;
    margin-left: 150px;
}

.contain2{
    display: flex;
    margin-left: 290px;
    margin-top: -80px;
}

.contain3{
    display: flex;
    margin-left: 430px;
    margin-top: -80px;
}

.contain4{
    display: flex;
    margin-left: 570px;
    margin-top: -80px;
}

.contain5{
    margin-left: 30px;
    margin-top: 30px;
}

@media screen and (max-width:600px){
   .contain4{
    margin-left:150px;
    margin-top: -80;
   }
   .contain3{
    margin-left:290px;
    margin-top: 0px;
   }
}