.hed {
    color: white;
    background-color: rgb(34, 100, 100);
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: -0px;
    margin-top: -7px;
    padding-right: 100px;
}

.board1 {
    width: 340px;
    height: 500px;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    overflow: auto;
    overflow-y: hidden;
}

.scrollbars>.contrll1>h3 {
    background-color: rgb(220, 220, 220);
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 70px;
    padding-right: 75px;
    margin-left: 15px;
    display: inline-flex;
    border-radius: 5px;
}

.contrll1 {
    margin-top: 20px;
}

.board2 {
    width: 340px;
    height: 500px;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    overflow: auto;
    overflow-y: hidden;
    margin-left: 360px;
    margin-top: -500px;
}

.board3 {
    width: 340px;
    height: 500px;
    background-color: rgb(199, 199, 199);
    border-radius: 5px;
    overflow: auto;
    overflow-y: hidden;
    margin-left: 720px;
    margin-top: -500px;
}