.flextest{
    display: flex;
    justify-content: space-evenly;
}

.flextest2{
    display: flex;
    justify-content: space-evenly;
}

.flextest3{
    display: flex;
    justify-content: space-evenly;
}

.br1 {
    width: 350px;
    height: 430px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br1>img{
    margin-top: 0px;
}

.br1>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br1>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}



.br2 {
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br2>img{
    margin-top: 0px;
}

.br2>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}



.br3 {
    width: 350px;
    height: 400px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br3>img{
    margin-top: 0px;
}

.br3>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br3>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}





.br4 {
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 35px;
}

.br4>img{
    margin-top: 0px;
}

.br4>h3{
    margin-left: 85px;
    margin-top: 30px;
    scale: 1.5;
}



.br5 {
    width: 350px;
    height: 420px;
    background-color: whitesmoke;
    margin-top: -35px;
}

.br5>img{
    margin-top: 0px;
}

.br5>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br5>h3{
    margin-left: 85px;
    margin-top: 30px;
    scale: 1.5;
}



.br6 {
    width: 350px;
    height: 620px;
    background-color: whitesmoke;
    margin-top: 10px;
}

.br6>img{
    margin-top: 0px;
}

.br6>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br6>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}




.br7 {
    width: 350px;
    height: 430px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br7>img{
    margin-top: 0px;
}

.br7>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br7>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}



.br8 {
    width: 350px;
    height: 350px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br8>img{
    margin-top: 0px;
}

.br8>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}



.br9 {
    width: 350px;
    height: 400px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br9>img{
    margin-top: 0px;
}

.br9>h2{
    margin-left: 15px;
    margin-top: 10px;
}

.br9>h3{
    margin-left: 85px;
    margin-top: 50px;
    scale: 1.5;
}