.flextest{
    display: flex;
    justify-content: space-evenly;
}

.br1 {
    width: 350px;
    height: 500px;
    background-color: whitesmoke;
    margin-top: 15px;
}

.br1>img{
    margin-top: 0px;
}

.br1>h2{
    margin-left: 15px;
    margin-top: 10px;
}